# Git
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore

# Tests
/phpunit.xml.dist export-ignore
/tests export-ignore

# Docker
/Dockerfile export-ignore

# Other
/phpstan.neon export-ignore
