includes:
    - config/phpstan.services.neon

parameters:
    level: 8

    bootstrapFiles:
        - vendor/squizlabs/php_codesniffer/autoload.php

    paths:
        - src


    ignoreErrors:
        -
            message: '#Constant T_SEMICOLON not found.#'

        -
            message: '#Call to an undefined method .+::(toString|toLowerString)\(\).#'
            path: src/PhpStan
